- if @game.id?
  = form_for @game, :url => league_season_game_path(@league.name, @season.season_id) do |f|
    = render "form_attributes", :f => f
- else
  = form_for @game, :url => league_season_games_path(@league.name, @season.season_id) do |f|
    = render "form_attributes", :f => f