/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require milligram
 *= require_self
 *= require games
 */

 body  {
   background-color: #ecf0f1;
   margin: 0px;
 }

 .centered {
   position: fixed;
   top: 50%;
   left: 50%;
   /* bring your own prefixes */
   transform: translate(-50%, -50%);
 }

 .navbar {
     list-style-type: none;
     margin-bottom: 20px;
     padding: 0;
     overflow: hidden;
     background-color: #333;
 }

 .navbar-item {
     float: left;
 }

 .navbar-item a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;

 }

 .navbar-item-right a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 .navbar-item-right {
    float: right;
 }

 .navbar-title {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-weight: bolder;
 }

 .navbar-item a:hover {
     background-color: #111;
 }

 .navbar-item-right a:hover {
     background-color: #111;
 }

 .navbar-dropdown {
   display: inline-block;
 }

 .navbar-dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 }

 .navbar-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar-dropdown-content a:hover {background-color: #f1f1f1}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}

.submitgame {
  border-right: 2px;
  border-color: white;
}

 .active {
    background-color: #4CAF50;
}

.title {
  font-size: 6rem;
  text-align: center;
  margin-top: 15%;
}

.subtitle {
  font-size: 3rem;
  text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.emphasize {
  color: #4CAF50 !important;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    margin-top: -20px;
}

.notice {
    padding: 20px;
    background-color: #2196F3; /* Red */
    color: white;
    margin-bottom: 15px;
    margin-top: -20px;
}

.table {
  overflow-x: auto;
  /*width: 100%;*/
}

.table {
  overflow-x: auto;
  /*width: 100%;*/
}

@media screen and (max-width: 600px){
    .column-33 {
      flex: auto !important;
      max-width: none !important;
    }
    .column-offset-33 {
      margin-left: 0 !important;
    }
}
